        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        header {
            background-color: rgb(37, 37, 37);
            color: white;
            padding: 20px;
        }
        h1 {
            margin: 0;
        }
        .content {
            margin: 20px;
            padding: 20px;
            width: 100%;
            float: left;
        }
        .quote {
            font-size: 1.5em;
            font-style: italic;
            margin: 20px 0;
            color: #222222;
        }
        footer {
            background-color: rgb(37, 37, 37);
            color: white;
            padding: 5px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .clink{
            color: #b6b4b4;
        }
        .pa{
            margin-left: 25%;
        }
        .btnn2{
            width: 100%;
        }
        .btnn1{
            float: left;
            height: 200px;
            width: 350px;
            padding-left: 20px;
        }
        .btnn{
            height: 150px;
            width: 330px;
            border-radius: 35px;
            font-size: larger;
        }
        .btnn:hover{
            background-color: #838181;
            height: 170px;
            width: 340px;
        }
