        body {
            font-family: Arial, sans-serif;
            color: #333;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        header {
            background: linear-gradient(rgb(22, 116, 26), #032c01);
            color: white;
            padding: 20px;
            width: 100%;
            font-family: 'Times New Roman', Times, serif;
        }
        h1 {
            margin: 0;
        }
        .content {
            margin: 20px;
            padding: 20px;
            width: 100%;
            float: left;
        }
        .quote {
            font-size: 1.5em;
            font-style: italic;
            margin: 20px 0;
            color: #397037;
        }
        footer {
            background: linear-gradient(#032c01,rgb(22, 116, 26));
            color: white;
            padding: 5px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        .clink{
            color: #6ca00c;
        }
        .btnn2{
        height: 60px;
        width: 60px;
        background-color: transparent;
        border-color: transparent;
        }
        .btnn1{
            float: left;
            height: 100px;
            width: 60px;
            margin-left: 14%;
        }
        .btnn{
            height: 50px;
            width: 50px;
            border-radius: 55px;
        }
        .btnn:hover{
            background-color: #838181;
            height: 60px;
            width: 60px;
        }
        .reel{
            height: 500px;
            width: 300px;
            margin-left: 50px;
            margin-top: 5px;
            float: left;
            font-size: medium;
            font-family: 'Courier New', Courier, monospace;
        }
        video{
            height: 460px;
            width: 230px;
        }
        .fix{
            position: fixed;
            width: 100%;
        }
        video:hover{
            height: 500px;
            width: 300px;
        }
        .playlist{
            height: 230px;
            width: 300px;
            float: left;
            margin-left: 30px;
            margin-top: 20px;
        }
        .play{
            height: 200px;
            width: 300px;
            background-color: transparent;
            border-color: transparent;
            font-size: larger;
            font-family: 'poppins';
            border-radius: 20px;
        }
        .play:hover{
            height: 210px;
            width: 315px;
        }
        .yout{
            height: 225px;
            width: 400px;
            float: left;
            margin-left: 20px;
            margin-top: 20px;
        }
        .yout1{
            height: 225px;
            width: 400px;
            float: left;
            border-radius: 10px;
        }
        .head{
            width: 100%;
        }
        .pa{
            align-self: auto;
        }